*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
header{
    color: rgb(188, 241, 241);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bandeira-brasil.jpg") ;
    background-size: cover;
}
#subtitle{
    margin-top: 10px;
    margin-left: 20px;
}

.img-sprite{
    width: 90px;
    height: 110px;
    
    background: url("../img/sprite_ampulheta.png") ;
    
    
    animation: ampulheta 3s steps(1) infinite;
    
}

@keyframes ampulheta{
    0%{
        background-position-x: 0px;
    }
    8%{
        background-position-x: -90px ;
    }
    16%{
        background-position-x: -181px ;
    }
    24%{
        background-position-x: -269px ;
    }
    32%{
        background-position-x: -358px ;
    }
    40%{
        background-position-x: -448px ;
        
    }
    
    48%{
        background-position-x: -450px ;
        transform: rotate(20deg);  
    }
    56%{
        background-position-x: -450px ;
        transform: rotate(40deg);  
    }
    64%{
        background-position-x: -450px ;
        transform: rotate(60deg);  
    }
    72%{
        background-position-x: -450px ;
        transform: rotate(80deg);  
    }
    80%{
        background-position-x: -450px ;
        transform: rotate(100deg);  
    }
    88%{
        background-position-x: -450px ;
        transform: rotate(120deg);  
    }
    94%{
        background-position-x: -450px ;
        transform: rotate(140deg);  
    }
    100%{
        background-position-x: -450px ;
        transform: rotate(160deg);  
    }
    

}
main{
    background-image: url("../img/eng2.png") ;
    background-size: 850px;

}


.balao{
    color:#cea45c;
    position: relative;
    padding: 5px;
    width: 430px;
    height: 90%;
    background-color: #3f261c;
    border-radius: 30px;
}
.balao-esquerdo{
    margin-left: 10%;
} 
.balao-direito{
    margin-right: 10%;
}

.triangulo{
    display: inline-block;
    margin-top: -300px;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
}

.triangulo-direita{
    margin-left: 430px;
    border-left: 60px solid #3f261c;
}

.triangulo-esquerda{
    margin-left: -60px;
    border-right: 60px solid #3f261c;

}

section{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50vh;

}
.img-balao{
    margin-left: 110px;
    margin-top: 80px;
    margin-bottom: 20px;
}
p{
    text-align: center;
    
}
h4{
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 10px;
}

.section-direito{
    flex-direction: row-reverse;
}
.section-esquerdo{
    flex-direction: row;
}
.balao-sem-imagem{
    padding-top: 250px;
}
footer{
    padding: 10px;
    background-color: #8a766e;
    color: aliceblue;
}


